*{
    margin: 0; padding: 0;box-sizing: border-box;
    font-family: 'jost';
    	
}

.logo
{
	padding: 2;
}
nav{
    width: 100%; height: 15vh;
    background: rgb(48, 45, 45);
    color: black; display: flex; justify-content: space-between;
    align-items: center; text-transform: uppercase;
    position: fixed;
    opacity: .8;
    
}
nav .menu{
    width: 40%; 
    display: flex; justify-content: space-around;
}
nav .menu a{
    width: 25%;
    text-decoration: none; color: rgb(168, 168, 168);
    font-weight: bold;
}
h1{
    color: rgba(10, 0, 2, 0.671);
	padding: 10;
	margin-top: 15;
}
p{
	padding: 15;
}
#container {
    min-height: 100%;
    

}
#main {
    overflow: auto;
    padding-bottom: 100px;
  
}
#footer {
    background-color: rgba(0, 0, 0, 0.267);
    position: relative;
    height: 50px;
    margin-top: -10px;
    clear: both;
    
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right:0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
padding-right:0;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 10px;}
  .sidenav a {font-size: 18px;}
}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
  padding: 70px 25px;
  width: 22%;
  background: #1abc9c;
  text-align: center;
  height: 10%;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  width: 22%;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 12.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  width: 22%;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 12.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}


/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 50%;
}


/* Right column */
.rightcolumn {
  float: left;
  width: 50%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
 
  
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
body .bg{
  background: url("https://media.northwesternmutual.com/images/1100x618/707-nm-how-are-financial-advisors-paid-538885745.jpg");
  padding: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 24px;
}
body .about{
  font-size: 24px;
  padding: 100px;
}